@import url('https://fonts.googleapis.com/css?family=Yeseva+One:400');

$primary-color:#ffedd5;
$font-color: #7c2d12;
$nav-footer-color: #57534e;
$hover-color: #c2410c;

$font-stack: 'Yeseva One', sans-serif;

$xs: 0;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;