@use "../abstracts" as *;

.search-page {
  background: url("/public/assets/hero-image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 90vh;

  .recipes-search-input {
    padding-top: 10vh;
    width: 100%;
    margin: 0 auto;
  }
}
