@use "../abstracts" as *;

.card {
  background-color: $primary-color;
  box-shadow: 5px 5px 5px $font-color;

  .like-more-button-section {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .like-icon {
      background: transparent;
      border: none;
    }
  }
}
