@use "../abstracts" as *;

.card {
  background-color: $primary-color;

  .like-more-button-section {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .like-icon {
      background: transparent;
      border: none;
    }

    .more-button {
      background-color: $button-color;
      color: $primary-color;
      border-radius: 6px;
      padding: 0 12px;
      font-size: 18px;
      border-style: none;

      &:hover {
        background-color: $font-color;
      }
    }
  }

}
