@use "../abstracts" as *;

.navbar {
  background-color: #ffedd5;

  .logo img {
    height: 40px;
    display: block;
  }

  .navbar-nav {
    margin-left: auto;
    .nav-link.active {
      color: $font-color;
    }
    .nav-link {
      color: black;
      &:hover {
        color: $font-color;
      }
    }
  }
}
