@use "../abstracts" as *;

.navbar {
  background-color: $primary-color;

  .nav-link {
    color: $font-color;
  }
  .navbar-nav {
    margin-left: auto;

    .nav-link.active {
      color: $hover-color;
    }
    .nav-link {
      color: $nav-footer-color;

      &:hover {
        color: $hover-color;
      }
    }
  }
}
